<div class="settings">
  <div class="settings__wifi-bluetooth-airdrop-controls">
    <app-wifi-control></app-wifi-control>
    <app-bluetooth-control></app-bluetooth-control>
    <app-airdrop-control></app-airdrop-control>
  </div>

  <div class="settings__focus-control">
    <app-focus-control></app-focus-control>
  </div>

  <div class="settings__keyboard-brightness-control">
    <app-keyboard-brightness-control></app-keyboard-brightness-control>
  </div>

  <div class="settings__screen-mirroring-control">
    <app-screen-mirroring-control></app-screen-mirroring-control>
  </div>

  <div class="settings__music-control">
    <app-music-control></app-music-control>
  </div>
</div>