.finder {
  display: flex;
  height: 100%;

  &__sidebar {
    width: 35%;
    max-width: 200px;
  }

  &__content {
    padding: 1rem;
    width: 65%;
  }

  @media screen and (min-width: 996px) {
    &__sidebar {
      width: 25%;
    }

    &__content {
      width: 75%;
    }
  }
}