:root {
    --mac-sky-blue: #71c5e8;
    --mac-green: #00ca4e;
    --mac-red: #ff605c;
    --mac-gold: #ffbd44;
    --mac-plum: #8a1b61;
    --mac-blue: #009cdf;
    --mac-grey: rgb(219, 219, 219);
    --light-0: #fff;
    --light-1: rgb(223, 225, 235);
    --dark-0: #000;
    --dark-1: rgb(32, 32, 32);
    --purple-0: rgb(238, 201, 236);
    --purple-1: #5a0a56;
    --purple-2: rgb(95 1 109 / 50%);
    --grey-0: #e5e1ed;
    --grey-1: #a5a5a5;
    --grey-2: rgb(229, 226, 239);
    --grey-3: rgb(223, 225, 235);
    --grey-4: #cdcccc;
    --grey-5: #ddd;
}